layout {
	pane {
		pane name="shell" command="bash" {
			args "-c" "${SHELL-bash}"
		}
		pane split_direction="vertical" {
			pane name="live test" command="pnpm" {
				args "test"
			}
			pane name="compile" command="pnpm"  {
				args "compile:watch"
			}
		}
	}
}
